/* components/Website/Notification.module.css */
.notificationContainer {
  position: fixed;
  bottom: 20px;
  left: 20px;
  z-index: 9999;
}

.notification {
  background-color: rgba(0, 123, 255, 0.9);
  color: white;
  padding: 12px 30px;
  border-radius: 30px; /* Membuat bentuk oval */
  font-size: 16px;
  display: flex;
  align-items: center;
  animation: fadeInOut 6s forwards;  /* Menambahkan animasi untuk notifikasi */
  max-width: 300px;  /* Batasi lebar agar tetap rapi */
  word-wrap: break-word;  /* Memastikan kata panjang tetap terpotong */
  margin-bottom: 10px; /* Memberikan jarak antar notifikasi */
}

.icon {
  margin-right: 10px;
  font-size: 20px;
}

.message {
  display: flex;
  flex-direction: column;
}

@keyframes fadeInOut {
  0% {
    opacity: 0;
    transform: translateY(20px); /* Notifikasi muncul dari bawah */
  }
  10% {
    opacity: 1;
    transform: translateY(0); /* Menjadi terlihat */
  }
  90% {
    opacity: 1;
    transform: translateY(0); /* Tetap terlihat */
  }
  100% {
    opacity: 0;
    transform: translateY(-20px); /* Menghilang ke atas */
  }
}
